#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>


#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ORANG   3
#define GREEN   4

&left_encoder { resolution = <2>; };
&left1_encoder { resolution = <4>; };
// &right_encoder { resolution = <1>; };

&mt {
    tapping-term-ms = <135>;
};

&lt {
    tapping-term-ms = <135>;
};


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &trans &trans &trans       &lt RAISE L &mt LSHIFT LBKT &mt LGUI RBKT                           &kp Z &kp U  &kp I    &kp O   &kp P    &kp BKSP
   &trans &trans &trans       &lt LOWER W &kp E    &kp S                                          &kp H &kp J  &kp K    &kp L   &kp APOS &kp RET
   &trans &trans &trans       &kp R       &kp T    &kp LA(N1)                                     &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp DQT
                                &lt ORANG M &kp LGUI &kp LALT                                     &mo RAISE &lt LOWER SPACE &kp LGUI
                        >;
                        sensor-bindings = <&inc_dec_kp LBKT RBKT &inc_dec_kp LC(LBKT) LC(RBKT)>;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &trans     &mo N  &kp V  &kp P                  &kp Z &kp U  &kp I    &kp O   &kp P    &kp BKSP
   &trans &trans &trans     &trans  &kp F  &kp A                 &kp H &kp J  &kp K    &kp L   &kp APOS &kp RET
   &trans &trans &trans     &trans &trans &trans                            &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp DQT
                            &kp Y &kp M &kp I                       &mo RAISE &lt LOWER SPACE &kp LGUI
                        >;
                        sensor-bindings = <&inc_dec_kp LBKT RBKT &inc_dec_kp LC(LBKT) LC(RBKT)>;
                };
                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  |  ~   | // TODO: Fix this row when &mkp is committed
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &trans     &trans &kp X  &kp U                  &kp Z &kp U  &kp I    &kp O   &kp P    &kp BKSP
   &trans &trans &trans     &kp K  &kp T &kp F                 &kp H &kp J  &kp K    &kp L   &kp APOS &kp RET
   &trans &trans &trans     &kp D  &kp COMMA &mo GREEN                            &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp DQT
                                &kp N0 &kp Z &kp SLASH                      &mo RAISE &lt LOWER SPACE &kp LGUI
                        >;
                        sensor-bindings = <&inc_dec_kp LBKT RBKT &inc_dec_kp LC(LBKT) LC(RBKT)>;
                };
                orang_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  |  ~   | // TODO: Fix this row when &mkp is committed
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &trans     &kp LG(X) &kp LG(C) &kp LG(V)                   &kp Z &kp U  &kp I    &kp O   &kp P    &kp BKSP
   &trans &trans &trans     &trans    &trans    &trans                  &kp H &kp J  &kp K    &kp L   &kp APOS &kp RET
   &trans &trans &trans     &kp SLASH &trans    &trans                            &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp DQT
                                      &trans &trans &trans                      &mo RAISE &lt LOWER SPACE &kp LGUI
                        >;
                        sensor-bindings = <&inc_dec_kp LBKT RBKT>;
                };
                green_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  |  ~   | // TODO: Fix this row when &mkp is committed
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &trans     &rgb_ug RGB_BRD &rgb_ug RGB_BRI &bt BT_SEL 0                  &kp Z &kp U  &kp I    &kp O   &kp P    &kp BKSP
   &trans &trans &trans     &rgb_ug RGB_SAD    &rgb_ug RGB_SAI  &bt BT_SEL 1                  &kp H &kp J  &kp K    &kp L   &kp APOS &kp RET
   &trans &trans &trans     &rgb_ug RGB_TOG  &rgb_ug RGB_HUD  &trans                            &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp DQT
                                      &bootloader &reset &bt BT_CLR                      &mo RAISE &lt LOWER SPACE &kp LGUI
                        >;
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp LBKT RBKT>;
                };
        };
};


