#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>


#define DEFAULT 0
#define LOWER   1
#define RAISE   2

&left_encoder { resolution = <2>; };
&left1_encoder { resolution = <2>; };
// &right_encoder { resolution = <1>; };


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &trans &trans &trans       &mo LOWER &kp LBKT &kp RBKT                  &kp Z &kp U  &kp I    &kp O   &kp P    &kp BKSP
   &trans &trans &trans       &mo RAISE &kp LBKT &kp RBKT                  &kp H &kp J  &kp K    &kp L   &kp APOS &kp RET
   &trans &trans &kp LG(N0)   &kp E     &kp W    &kp LSHFT                            &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp DQT
                                  &kp LGUI &kp LALT &mo LOWER                      &mo RAISE &lt LOWER SPACE &kp LGUI
                        >;
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp LC(RBKT) LC(LBKT)>;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &trans     &mo LOWER &kp LBKT &kp RBKT                  &kp Z &kp U  &kp I    &kp O   &kp P    &kp BKSP
   &trans &trans &trans     &kp L     &kp I    &kp A                 &kp H &kp J  &kp K    &kp L   &kp APOS &kp RET
   &trans &trans &trans     &kp R     &kp T    &kp S                            &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp DQT
                                      &kp M &kp V &trans                       &mo RAISE &lt LOWER SPACE &kp LGUI
                        >;
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp LC(RBKT) LC(LBKT)>;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  |  ~   | // TODO: Fix this row when &mkp is committed
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &trans     &mo LOWER &kp LBKT &kp RBKT                  &kp Z &kp U  &kp I    &kp O   &kp P    &kp BKSP
   &trans &trans &trans     &trans    &kp Y    &kp U                  &kp H &kp J  &kp K    &kp L   &kp APOS &kp RET
   &trans &trans &trans     &kp LS(LGUI)  &kp F  &kp I                            &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp DQT
                                      &kp N0 &kp Z &kp X                      &mo RAISE &lt LOWER SPACE &kp LGUI
                        >;
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp LBKT RBKT>;
                };
        };
};


